.app {
	width: 700px;
	margin:0px auto;
	text-align: justify;
}

.app h2 {
	margin: 0px;
}

.app a:link, .app a:visited {
	color: blue;
	text-decoration: none;
}

.app a:hover {
	text-decoration: underline;
}

.app p {
	margin: 10px 0px; padding: 0px; font: 13px/27px Arial 
}

.app div {
	margin-bottom: 20px; border: 1px solid #707070; padding: 20px
}

.app .more {
	text-align: right; padding-right: 20px
}

img {
	float: left; margin: 7px 10px 0px 0px; border: 1px solid black
}